/* You can add global styles to this file, and also import other style files */
/* van los estilos que le queremos aplicar a todos nuestros componentes de manera global */

html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
}

.space-footer{
    padding-bottom: 60px;
}